:root {
    --primary-color: #004488;
    --secondary-color: #FFFFFF;
    --accent-one: #7CFEF0;
    --accent-two: #FFFAFF;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1 {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
    color: var(--primary-color);
}


h2 {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
    color: var(--primary-color);
}


p, label {
    font-family: "Montserrat", serif;
    font-weight: 200;
    font-style: normal;
}

a img {
    text-decoration: none;
}


body {
    max-width: 1200px; 
    padding: 2rem;
    margin: auto;
}


.hero {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.hero img {
    display: block;
    width: 100%;
    height: auto;
}


.hero h1 {
    position: absolute;
    top: 40px;
    left: 325px;
    color: var(--secondary-color);
}

.hero article {
    position: absolute;
    top: 300px;
    left: 50px;
    padding: 1rem;
    margin-right: 3rem;
    color: var(--secondary-color);
    background-color: rgba(0, 0, 185, 0.3);
}

.hero article img {
    float: right;
    width: 250px;
    height: auto;
}


header {
    background-color: var(--primary-color);
    height: 5rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}


header img {
    width: 50px;
    height: auto;
}

header nav {
    display: flex;
    justify-content: space-evenly;
}

header nav a {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    color: var(--secondary-color);
}

nav a:hover {
    font-weight: bold;
}


.history {
    background-color: var(--primary-color);
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.history img{
    width: 250px;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.history h2 {
    margin-top: 1rem;
    color: var(--secondary-color);
    grid-column: 1/4;
    font-weight: bold;
}

.history p {
    padding: 2rem;
    color: var(--secondary-color);
}

.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-items: center;
}


.adventure h2 {
    margin-top: 1rem;
    grid-column: 1/6;
    font-weight: bold;
}

.adventure img {
    width: 200px;
    height: auto;
    margin-top: 1rem;
}

.adventure figure {
    font-family: "Montserrat", serif;
    font-weight: 200;
    font-style: normal;
    color: var(--primary-color);
    font-weight: bold;
    margin-bottom: 1rem;
}



.waterfalls {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-items: center;
}


.waterfalls h2 {
    margin-top: 1rem;
    grid-column: 1/6;
    font-weight: bold;
}

.waterfalls p {
    margin-top: 1rem;
    grid-column: 1/6;
    font-weight: bold;
}



.waterfalls img {
    width: 200px;
    height: auto;
    margin-top: 1rem;
}

.waterfalls figure {
    font-family: "Montserrat", serif;
    font-weight: 200;
    font-style: normal;
    color: var(--primary-color);
    font-weight: bold;
    margin-bottom: 1rem;
}




.newsletter h2 {
    text-align: center;
    padding-top: 1rem;
    font-weight: bold;
}

.newsletter p {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: bold;
}


form {
    padding-bottom: 1rem;
    text-align: center;
}

form label {
    font-weight: bold;
}

form input {
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 2px;
}

form button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 2px;
}


.table-container {
    margin-bottom: 2rem;
}


.trips caption {
    margin-bottom: 1rem;
    font-family: "Roboto", serif;
    font-style: normal;
    color: var(--primary-color);
    font-weight: bold;
}


.trips {
    border-collapse: collapse;
    margin: 1rem auto;
    font-family: "Roboto", serif;
    font-style: normal;
    min-width: 1000px;
}

.trips tr th {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1rem 1rem;
    text-align: left;
}


.trips td {
    padding-top: 1rem;
    text-align: left;
    border-bottom: 1px solid var(--primary-color);
}



.construction {
    min-height: 800px;
}

.construction p {
    margin-top: 350px;
    text-align: center;
    font-family: "Roboto", serif;
    font-style: normal;
    font-size: larger;
    color: var(--primary-color);
    font-weight: bold;
}


footer {
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 1fr 15px 15px 15px;
    gap: 30px;
    align-items: center;
    justify-items: end;
}

footer p {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
    color: var(--secondary-color);
    margin: auto;
}

footer img {
    width: 30px;
    height: auto;
    margin: 1rem;
}
