* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --main-background-color: darkblue;
    --main-color: darkblue;
}


nav {
   background-color: var(--main-background-color);
   padding: 10px; 
}

nav a {
    color: white;
    display: block;
    padding: 10px;
}

h1 {
    color: var(--main-color);
    padding: 1rem;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}


main p {
    padding-left: 1rem;
}


main {
    max-width: 750px;
}

aside {
    width: 20rem;
    position: relative;
    text-align: center;
}

aside h2 {
    position: absolute;
    top: 20px;
    right: 70px;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 1rem;
    border-top: 1px solid var(--main-color);
    text-align: center;
}


/* Class Selectors */

.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid var(--main-color);
    background-color: white;
    color: black;
}

