* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 1rem sans-serif;
}


:root {
    --main-background-color: rgb(47, 148, 243);
    --main-color: rgb(47, 148, 243);
}


nav {
   background-color: var(--main-background-color);
   padding: 0.25rem;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 1rem;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h1 {
    color: var(--main-color);
    padding: 1rem;
    margin: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: larger;
    border-bottom: 1px solid var(--main-color);
}




main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}


main p {
    padding-left: 1rem;
}


aside {
    width: 20rem;
    position: relative;
    text-align: center;
}

aside h2 {
    position: absolute;
    top: 60px;
    right: 70px;
}

aside img {
    width: 200px;
    height: auto;
    margin: 1rem;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}


footer {
    margin-top: 1rem;
    border-top: 1px solid var(--main-color);
    text-align: center;
}


/* Class Selectors */

.box {
    margin: 1rem;
    padding: 2rem;
    border: 1px solid var(--main-color);
    background-color: white;
    color: black;
}


.grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
